.emblem__container {
    margin-top: 82px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 36px;
    justify-items: center;
}

@media screen and (max-width: 1279px) {
    .emblem__container {
        grid-column-gap: 30px;
        justify-items: center;
    } 
}

@media screen and (max-width: 1023px) {
    .emblem__container {
        margin: 82px auto;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 65px;
        grid-row-gap: 60px;
        justify-items: center;
    } 
}

@media screen and (max-width: 767px) {
    .emblem__container {
        margin: 32px auto;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 60px;
        justify-items: center;
    } 
}