.place__description-paragraph {
    font-size: 1.12rem;
    line-height: 1.66;
    margin: -6px 0 36px 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .place__description-paragraph {
        font-size: 1rem;
        line-height: 1.68;
    }
}

@media screen and (max-width: 767px) {
    .place__description-paragraph {
        margin: 24px 0 0 0;
        font-size: 1rem;
        line-height: 1.68;
    }
}

@media screen and (max-width: 374px) {
    .place__description-paragraph {
        font-size: 1.12rem;
        line-height: 1.66;
    }
}