.lead__title {
    font-size: 6rem;
    line-height: .95;
    font-weight: 900;
    text-align: center;
    width: 720px;
    margin: auto;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 2.5rem;
        line-height: 1.1;
        width: 340px;
    }
}

@media screen and (max-width: 374px) {
    .lead__title {
        font-size: 2.5rem;
        line-height: 1.1;
        width: 288px;
    }
}