.footer__links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

@media screen and (max-width: 767px) {
    .footer__links-list {
        margin-bottom: 48px;
    }
}